<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navigateToHome()">
    <mat-icon>menu_book</mat-icon>
  </button> -->
  <img src="assets/logos/logo 19.png" class="logo" alt="logo" (click)="navigateToHome()">
  <span (click)="navigateToHome()">Quizzdom</span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="margin-left: 25px;" (click)="navigateToSignup()">
    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
      <mat-icon>how_to_reg</mat-icon>
      <div style="font-size: 12px;">Register</div> <!-- Add the text here -->
    </div>
  </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin-left: 20px;" (click)="navigateToLogin()">
    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
      <mat-icon>login</mat-icon>
      <div style="font-size: 12px;">Login</div>
    </div>
  </button>


  <button mat-icon-button class="example-icon favorite-icon" aria-label="Toggle Mode" (click)="toggleMode()" style="margin-left: 20px;">
    <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
      <mat-icon>{{ mode === 'light' ? 'light_mode' : 'dark_mode' }}</mat-icon>
      <div style="font-size: 12px;">Switch</div>
    </div>
  </button>

</mat-toolbar>
