############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDEs
############################
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

############################
# Angular (examfront)
############################
examfront/node_modules/
examfront/dist/
examfront/.angular/
examfront/coverage/
npm-debug.log*
yarn-error.log*

############################
# Spring Boot (examserver)
############################
examserver/target/
*.log

############################
# Env files
############################
.env
